.ds{
    width: 98%;
}
.menu{
    display: block;
}

@media screen and (max-width: 500px) {
    .menu{
        display: none;
    }
    .ds{
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
     
    }
    
  }
