.ats{
    height: 30%;
}
.bwh{
    height: 70%;
}
.card1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 95%;
    width: 100%;
    padding-top: 30px;
    background: #6379F4;
    border-radius: 25px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 56vh;
    width: 100%;
    padding-top: 2em;
    /* Zwallet/White */
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(39, 39, 39, 0.466);
    border-radius: 25px;
}

.balance{
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: space-between;
    align-items: center;
}
.b{
    width: 50%;
    color: white;
}
.b2{
    width: 25%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    /*     */
}

.btn{
    background: #FFFFFF !important;
    border: 1px solid white;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #6379F4;
     
}


.btn:hover{
    background: #6379F4 !important;
    border: 1px solid white;
    color: white;
}
.historyS{
    height: 80%;
    overflow-y: scroll;
}
.history{
    display: flex;
    width: 80%;
}
.ppHis{
    width: 70px;
    height: 70px;
    margin-top: 20px;
    border-radius: 10px;
}
.nameH{    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */
    margin-left: 15px;
    margin-top: 20px;
    color: #4D4B57;
}
.green{
    color: #1EC15F;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

}
.red{
    color: #FF5B37;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .ats{
        height: 200px;
    }
    .bwh{
        height: 900px;
        margin-top: 10px;
         
    }
    .btn{
        background: #FFFFFF !important;
        border: 1px solid white;
        box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
        border-radius: 12px;
        margin-bottom: 10px;
        padding: 10px;
        font-weight: bold;
        font-size: 10px;
        line-height: 25px;
        text-align: center;
        color: #6379F4;
         
    }
    .card1{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-top: 30px;
        background: #6379F4;
        border-radius: 25px;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 390px;
        width: 100%;
        padding-top: 2em;
        margin-top: 40px;
        /* Zwallet/White */
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(39, 39, 39, 0.466);
        border-radius: 25px;
    }
    .historyS{
        height: 60%;
        overflow-y: scroll;
    }
    
}