.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95%;
    width: 90%;
    padding-top: 30px;
    /* Zwallet/White */
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(39, 39, 39, 0.466);
    border-radius: 25px;
}
.out{
    margin-left: -30px !important;
}