.cardM{
    width: 40%;
}
.pr{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pp{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.name{
    margin-top: 20px;
font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;

color: #4D4B57;
}
.phone{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
/* identical to box height, or 169% */

text-align: center;

color: #7A7886;

}
.m{
    background: #E5E8ED;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
}
.m:hover{
    background: #afafb1;
}

@media screen and (max-width: 500px) {
    .cardM{
        width: 70%;
        margin-top: 30px;
    }
}