.all{
    width: 75%;
    margin-top: 10px;
    height: 80%;
    overflow: scroll;
}
.all::-webkit-scrollbar {
    width: 1px;
  }
   
  .all::-webkit-scrollbar-track {
    box-shadow: none;
  }
   
  .all::-webkit-scrollbar-thumb {
    background-color: #6379F4;
    outline: 1px solid slategrey;
  }
.card{
    display: flex;
    margin-top: 20px;
    align-items: center;
     
}
.pp{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
}
.bb{
    margin-left: 20px;
}
.name{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #4D4B57;
}
.phone{        
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7A7886;
}

.tmb{
    background: #6379F4 !important;
    border: 1px solid white;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    padding: 10px;
    width: 150px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.cari{
    width: 75%;
    background: rgba(58, 61, 66, 0.1);
    border-radius: 12px;
    display: flex;
    padding: 15px;
    margin-top: 10px;
}
.Icari{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 20px;
}
.inputN{
    width: 25%;
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    border: grey;
    outline: none;
    text-align: center;
}